.dr_container{
  user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.editor_block{
  position: absolute;
}

.dr_block_focus {
	&::before {
		position: absolute;
		top: -3px;
		left: -3px;
		right: -3px;
		bottom: -3px;
		content: '';
		border: 2px dashed #2196f3;
	}
}